<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post meta</title>
  </head>
  <body>
    <form action="/admin" method="POST">
      <label for="">Post id</label>
      <input type="text" name="postId" value="" />
      <label for="">Post Mata key</label>
      <input type="text" name="metaKey" value="" />
      <label for="">Post Mata value</label>
      <input type="text" name="metaValue" value="" />
      <input type="submit" value="Save" />
    </form>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
  </body>
</html>
