<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Dynamic Css -->
    <%- include("par/css")-%>
  </head>
  <body>
    <h1>This is contacts</h1>

    <h1>
      <%= data.name %>

      <form action="/con" method="POST">
        <label for="">name</label>
        <input type="text" name="name" value="" placeholder="Enter your name" />
        <label for="">Age</label>
        <input type="text" name="age" value="" placeholder="Enter your age" />
        <input type="submit" value="Save" />
      </form>
    </h1>
    <%- include("par/script")-%>
  </body>
</html>
