<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Dynamic Css -->
    <%- include("par/css")-%>
  </head>
  <body>
    <h1>This is theme 2</h1>
    <img src="<%=asset%>img/12.jpg " alt="" srcset="" />
    <h1>
      <%= data.name %>
    </h1>
    <%- include("par/script")-%>
  </body>
</html>
